# {{ ansible_managed }}

HandlePowerKey={{ logind_power_key_action }}
HandlePowerKeyLongPress={{ logind_power_key_longpress_action }}
HandleRebootKey={{ logind_reboot_key_action }}
HandleRebootKeyLongPress={{ logind_reboot_key_longpress_action }}
HandleSuspendKey={{ logind_suspend_key_action }}
HandleSuspendKeyLongPress={{ logind_suspend_key_longpress_action }}
HandleHibernateKey={{ logind_hibernate_key_action }}
HandleHibernateKeyLongPress={{ logind_hibernate_key_longpress_action }}
HandleLidSwitch={{ logind_lid_switch_action }}
HandleLidSwitchExternalPower={{ logind_lid_switch_external_power_action }}
HandleLidSwitchDocked={{ logind_lid_switch_docked_action }}
